.todolist-container{
    margin: 30px 30px 0;
    column-count: 2;
    column-gap: 20%;
}

.todolist-container .todo-item{
    display: flex;
    justify-content: space-between;
    background: var(--yellow-color);
    font-size: 20px;
    padding: 20px 30px;
    margin-bottom: 10px;
    border-radius: 8px;
    list-style: none;
}

.todolist-container .todo-item.task-done {
    background-color: var(--theme-color);
    color: white;
}

.todolist-container .todo-item .item-actions > * {
    cursor: pointer;
    margin-right: 10px;
}
